<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
                @Styles.Render("~/Content/css")
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
        </style>
    </head>
    <body ng-app="snsApp" ng-controller="BaseController">
        <img src="~/Content/ajax-loader.gif" ng-hide="!loading" />
        <div ng-cloak>
            {{ model.title }}
            <sns-spinner></sns-spinner>
            <alert ng-repeat="alert in model.alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            <div ng-view></div>
        </div>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/Scripts/ui-bootstrap-0.6.0.min.js"></script>
        <script src="~/Scripts/ui-bootstrap-tpls-0.6.0.min.js"></script>
        @Scripts.Render("~/bundles/appscripts")
        @RenderSection("scripts", required: false)
    </body>
</html>
